

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Arial';
  background: #FFF;
  background-repeat: no-repeat;
  margin-right: auto;
  margin-left: auto;
  min-width: 375px;
  margin-top: 0;
  font-size: 1rem;
  line-height: 1.5;

}

a {
  color: inherit;
  text-decoration: none;

}

:focus-visible {
  outline: none;
}

p {
  margin: 0;

}

img {
  max-width: 100%;
}

li {
  list-style-type: none;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3 {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
  max-width: 1200px;
  padding: 0 10px;
  margin-right: auto;
  margin-left: auto;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInFromDown {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}




.header {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  animation: slideInFromTop 1s ease;
}

.header__logo {
  display: block;

  max-height: 50px;
}

.wrapper {
display: flex;
justify-content: space-between;
gap: 20px;
animation: slideInFromDown 1s ease;
}

.main {
  width: 100%;
}

.main__img {
  max-width: 70%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.main__text-1 {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 10px;
}

.main__btn {
  color: #fff;
    font-weight: bold;
    background-color: #000091;
    padding: 17px 0;
    width: 100% ;
}

.main__btn:active {
  background-color: #10b867;
}

.aside {
  max-width: 30%;
  border-left: 1px solid #ccc;
  padding-left: 20px;
}

.aside__title {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  color: #212529;
}

.aside__text-1 {
  font-size: 14px;
  line-height: 18px;
  margin: 10px 0;
}

.aside__text-2 {
  font-weight: 700;
}

#tick {
  display: block;
  opacity: 0;
  height: 47px;
  transition: opacity  1s ease-in-out;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }   
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }   
}

@keyframes fadeInFirst {
  0% {
    opacity: 0;
    height: 0;

  }
  100% {
    opacity: 1;
    height: 190px;

  }   
}


.quetions {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  height: 175px;
  display: none;
}

.quetion-counter {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 15px;
}

.quetion__text {
  margin-bottom: 10px;
}

.quetion__btn {
  display: block;
  margin-bottom: 10px;
  padding: 17px 0;
  background-color: #000091;
  color: #FFF;
  max-width: 330px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.quetion__btn:active {
  background-color: #10b867;
}

.quetion-2, .quetion-3, .quetion-4, .quetion-5, .quetion-6, .quetion-7 {
  display: none;
}

.loader {
  display: none;
  text-align: center;
  width: 100%;
}

.loader__title {
  color: #212529;
  font-weight: 700;
  margin-bottom: 15px;
  margin-right: auto;
  margin-left: auto;
}
.loader__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
}

.loader__item {
  display: none;
}

.last {
  display: none;
  width: 100%;
}

.last__card {
  box-shadow: 0 0 2px 2px #d2d2d2;
    padding: 10px;
    overflow: hidden;
    border-radius: 3px;
    border-bottom: 1px solid #e5e5e5;
}

.last__card:first-child {
  margin-bottom: 20px;
}

.last__text {
  font-size: 1.2rem;
  font-weight: 700;
  color: #212529;
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.last__img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.commentsTwo{
display: none;
}
.last__title-block {
  color: #FFF;
  background: linear-gradient(180deg, rgba(255, 0, 0, 0.84) 0%, rgba(168, 0, 0, 0.84) 100%);  padding-bottom: 10px;
  padding-top: 5px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  text-align: -webkit-center;
}
.last__title {
  font-size: 24px;
  text-align: center;
  position: relative;
  max-width: max-content;
}

@keyframes bounce { 
  0%, 
  100% {
     transform: translate3d(0px, -3px, 0px); 
  }
  50% { transform: translate3d(0px, 3px, 0px); }
}

.last__title::after {
  content: "↓";
  position: absolute;
  animation: 1s ease 0s infinite normal none running bounce;
}

.last__title::before {
  content: "↓";
  position: absolute;
  animation: 1s ease 0s infinite normal none running bounce;
  left: -15px;
  bottom: 0;
}

.last__spinner {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.last__img-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80px;
}

.comments {
  width: 100%;
  margin: 0 auto;
  background: #fff;
  padding-left: 16px;
  padding-right: 16px;
  border-left: 1px solid #E2E4E7;
  border-right: 1px solid #E2E4E7;
  margin: 20px auto 10px auto;
}

.comments-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
}

.comments-header__actions {
  display: flex;
}

.comments-header__actions img {
  max-width: 18px;
  width: 100%;
  z-index: 2;
}

.comments-header__actions img:last-child {
  transform: translateX(-4px);
  z-index: 1;
}

.comments-header__total {
  display: flex;
  align-items: center;
}

.comments-header__total p {
  font-size: 15px;
  color: #65676b;
}

.comments-header__total p:last-child {
  margin-left: 7px;
}

.comments-header__total p:hover {
  text-decoration: underline;
}

.comments-subheader {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 44px;
  border-top: 1px solid #CED0D4;
  border-bottom: 1px solid #CED0D4;
}

.comments-subheader p {
  font-size: 15px;
  font-weight: bold;
  color: #65676b;
}

.comments-list {
  padding: 0!important;
  margin-top: 10px;
}

.comments-list__item {
  list-style: none;
  display: flex;
  margin-bottom: 5px;
  flex-wrap: wrap;
}
.comments-list__item.level2{
padding-left: 45px;
}
.comments-list__item.level3{
padding-left: 90px;
}

.comments-list__item p {
  margin: 0!important;
}

.comments-item__img {
  margin-right: 10px;
  width: 35px;
}

.comments-item__img img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.comment-item__message {
  background: #F0F2F5;
  padding: 8px 12px;
  width: auto;
  max-width: calc(100% - 45px);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  position: relative;
}
.comment-action-block{
width: auto;
display: flex;
align-items: center;
box-shadow: rgba(33, 37, 41, 0.39) 4px 5px 7px 0px;
background: rgb(255, 255, 255);
padding: 1px 3px;
border-radius: 8px;
position: absolute;
right: -10px;
bottom: -16px;
}
.comment-action-block img{
float: left;
width: 18px !important;
margin-right: 2px;
margin-top: 0 !important;
}
.comment-action-block span{
font-size: 10px;
font-family: Arial,Verdana,Georgia, Tahoma, 'Roboto';
}

.comment-item__message img {
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
}

.comment-item__message p {
  margin: 0;
}

.comment-message__name {
  font-size: 12px!important;
  color: #050505;
  font-weight: bold;
}

.comment-message__content {
  font-size: 12px!important;
}


.content-title {
  font-size: 32px;
}

.content-img {
  width: 100%;
  display: flex;
  justify-content: center;
}

.content-img img {
  max-width: 450px;
  width: 100%;
}

.content-text {
  font-size: 14px;
  line-height: 1.3;
  margin: 10px 0;
}

.modal h2 {
  margin-bottom: 20px;
}


.time-and-answear{
float: left;
width: 100%;
padding-top: 8px;
display: flex;
align-items: center;
padding-left: 45px;
}
.time-and-answear span{
margin-right: 15px;
color: rgb(141, 148, 158);
font-size: 12px;
font-family: Arial,Verdana,Georgia, Tahoma, 'Roboto';
}
.comment-product-image{
float: left;
width: 100%;
padding-top: 10px;
}
.comment-product-image img{
float: left;
width: 100%;
margin: 0 !important;
}

@keyframes spin { 
  0% { transform: rotate(0deg); }

  100% { transform: rotate(2960deg); }
}

@keyframes spin2 { 
  0% { transform: rotate(2921deg); }

  100% { transform: rotate(5677deg); }
}

.modal {
  display: none;
  position: fixed;
  max-width: 500px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 2px solid #000;
  background-color: #FFF;
  border-radius: 5px;
  text-align: center;
}

.modal__text {
  font-weight: 700;
  color: rgb(87, 87, 87);
  font-size: 20px;
  margin-bottom: 20px;
}

.modal__text-2 {
  color: rgb(121, 121, 121);
  font-size: 14px;
  margin-bottom: 10px;
}

.modal__btn {
  padding: 10px 0;
  font-size: 17px;
  color: #fff;
  background-color: #E72C2C;;
  border-radius: 5px;
  max-width: 125px;
  width: 100%;

}

.modal__btn:active {
  background-color: #10b867;
}


@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.prize {
  display: none;
  max-width: 150px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 200%;
  display: none;
  z-index: 9;

}

.show {
  position: fixed;
  text-align: center;
  max-width: 40%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 9;
  box-shadow: 0 0 2px 2px #d2d2d2;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 1px solid #e5e5e5;
}
@media (max-width: 992px) {
  .show{
    max-width: 80%;
  }
}
.show img{
  width: 200px;
}

.show__text {
  font-size: 1.1rem;
  color: #94D014;
  text-align: center;
}

.show__text-2 {
  font-weight: 700;
  font-size: 1.1rem;
  color: #94D014;
  margin-bottom: 10px;
  text-align: center;
}

.show__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
}
.show__item
.show__item span {
  font-weight: 700;
}

.show__text-3 span {
  font-weight: 700;
}

.show {
  display: none;
}
.show__items{
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;

}
.show__items span{
  font-weight: 600;
}
.show__block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.show__img-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.show__img {
  max-width: 100px;
  align-self: center;
}

.show__text-4 {
  color: rgb(60, 90, 150);
  text-align: center;
}

.show__text-5 {
  font-weight: 700;
  color: rgb(60, 90, 150);
  margin-bottom: 10px;
}

.show__btn {
  padding: 10px 30px;
  max-width: 140px;
  width: 100%;
  background-color: #E72C2C;
  color: #fff;
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

#timer2 {
  font-weight: 700;
  color: red;
}

.notifications {
  top: 4rem;
  right: 1rem;
  z-index: 9999;
  position: fixed;
  padding: 4px;
  width: 310px;
}

.notification {
  display: none;
  box-shadow: 0 1px 10px 0 rgb(0 0 0 / 10%), 0 2px 15px 0 rgb(0 0 0 / 5%);
  position: relative;
  min-height: 64px;
  max-height: 800px;
  cursor: pointer;
  font-family: sans-serif;
  overflow: hidden;
  z-index: 9999;
  margin-bottom: 1rem;
  border-radius: 4px;
  width: 310px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
}

.notification_showed {
  animation-name: showNoty;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  -webkit-animation-name: showNoty;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
}

.notification_hidden {
  animation-name: hiddenNoty;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  -webkit-animation-name: hiddenNoty;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
}

.notification__wrapper {
  padding: 12px 6px;
  display: flex;
  align-items: flex-start;
}

.notification__body {
  display: flex;
  align-items: center;
  margin-right: 6px;
  padding-left: 6px;
}

.notification__img {
  width: 3.25rem;
  flex-shrink: 0;
  margin: 0 auto;
}

.notification__info {
  margin-left: 12px;
}

.notification__title {
  font-size: 1.1rem;
  font-weight: 500;
  color: rgb(19, 64, 148);
}

.notification__subtitle {
  font-weight: 400;
  font-size: 0.875rem;
  color: rgb(0, 0, 0);
  padding-bottom: 0.25rem;
}

.notification__subtitle:last-child {
  padding-bottom: 0;
}

.notification__close {
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 0.3;
}

.notification__closeIcon {
  width: 14px;
  height: 16px;
}

.notification__checkmark {
  width: 100%;
  max-width: 1.25rem;
  margin-left: 0.5rem;
  height: 15px;
}

.notification__city {
  text-decoration: underline;
}

.tick {
  max-width: 250px;
  width: 100%;
  flex-shrink: 0;
}
.tick-label {
  display: none !important;
}

.tick-group:first-child {
  display: none !important;
}

@media(max-width: 430px) {
  .tick {
    max-width: 200px;

  }
}

@-webkit-keyframes spinnerRotation {
  0% {
      transform: rotate(0deg);
  }

  to {
      transform: rotate(359deg);
  }
}

@keyframes spinnerRotation {
  0% {
      transform: rotate(0deg);
  }

  to {
      transform: rotate(359deg);
  }
}

.spinner {
  display: block;
  line-height: 1;
  position: relative;
  color: rgb(17, 17, 17);
  width: 100px;
  height: 100px;
  margin: 0px auto 10px;
}

.spinner::before {
  font-size: 14px;
  content: 'Frankfurt Airport';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-style: normal;
  font-weight: normal !important;
  text-align: center;
}

.spinner::after {
  content: '';
  height: 100px;
  width: 100px;
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-animation: 0.6s linear 0s infinite normal none running spinnerRotation;
  animation: 0.6s linear 0s infinite normal none running spinnerRotation;
  border-radius: 100%;
  text-indent: -9999px;
  border-width: 12px;
  border-style: solid;
  border-color: rgb(191, 214, 49) rgba(40, 50, 90, 0.15) rgba(40, 50, 90, 0.15);
  -o-border-image: initial;
  border-image: initial;
}
.fr{

}
#eng{
  
}
.eng{
  margin-right: 1rem;
}
.hidden{
  display: none;
}